/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

.small {
	font-size: 0.8em;
}

h1 {
	font-size: 5em;
	color: #98ada6;
}

h2 {
	font-size: 2em;
	color: #6f7f7a;
}

p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 0 0 20px 0;
}

footer {
  text-align: right;
}

#press {
	margin-bottom: 20px;
}

#press img {
	border: 5px #ccc solid;
	padding: 1px;
}

#about {
	border: 5px;
}
